@import './functions';

main {


    .main__container1 {
        margin: 5% 10%;
        // margin-bottom: 5%;

        .main__container1__sec2 {
            padding-top: 1%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main__container1__sec2__item {
            width: 97%;
            margin: 3%;
            padding: 2%;
            border: 1px solid grey;
            border-radius: 8px;
        }
    }




    .main__container2 {
        margin: 0;
        padding-bottom: 50px;
        background-color: rgb(130, 235, 235);

        .main__container__title {
            margin: 0 10%;
            padding-top: 40px;
        }

        .main__container2__box {
            margin: 0 10%;
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: baseline;

            .main__container2__box__item {
                width: 30%;
                margin: 10px;
                padding: 2%;
                background-color: aliceblue;
                border-radius: 8px;

                p {
                    color: grey;
                }

                .main__container2__box__item__upper {
                    padding-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .profile {
                        display: flex;
                        justify-content: left;
                        align-items: center;

                        .name {
                            padding-left: 1%;

                            h4 {
                                font-size: 80%;
                            }

                            p {
                                font-size: 70%;
                            }
                        }
                    }
                }

                .main__container2__box__item__lower {
                    padding-top: 18px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .react {
                        display: flex;
                        justify-content: left;
                        align-items: center;
                    }
                }
            }
        }
    }


    .main__container3 {
        margin: 0 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            margin-top: 4%;
        }

        .desc {
            color: grey;
            width: 42%;
        }
        p{
            color: grey;
        }

        .main__container3__pricecard {
            padding: 2%;
            margin: 4% 0;
            background-color: rgb(243, 236, 226);
            border: 1px solid gray;
            border-radius: 12px;
            

            .bold {
                font-size: 200%;
                font-weight: 700;
            }

            .checkmark {
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 2% 0;
            }

            button {
                width: 100%;
                margin-top: 3%;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: rgb(33, 136, 227);
                color: white;
                padding: 2% 2%;
                border: none;
                border-radius: 4px;
                font-weight: 600;
                font-size: large;
                transition: background-color .6s ease-in;

                &:hover {
                    cursor: pointer;
                    background-color: rgb(130, 104, 214);
                }
            }
        }
    }
}

